@import "./mixins.scss";

.content {
	&-menubtn {
		grid-row: btn-start/btn-end;
		grid-column: content-start/content-end;
		@include button;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&-full-menu-link {
		text-decoration: none;
	}
}
.overlay {
	z-index: 6;
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	&--active {
		display: block;
		background-color: $color-black;
		opacity: 0.8;
	}
}
