//COLORS
$color-yellow: #ffad05;
// $color-yellow: #91c7a9;
$color-black: #292931;
$color-grey: #f8f8f7;
$color-grey-dark: #696969;
$color-grey-darker: #e7e7e4;
$color-red: #d6283c;
// $color-red: #a92f41;
$color-green: #105e31;
$color-white: #fbf5f3;
$color-white_dark: #f8f8f7;
$color-twitter_blue: #1da1f2;
$color-facebook_blue: #3b5998;

///COLOR GRADIENT
$color-gradient-purple: #571845;
$color-gradient-purplepink: #900c3e;
$color-gradient-pink: #c70739;
$color-gradient-orange: #f95733;
$color-gradient-yellow: #fbc302;
$color-gradient-yellowlight: #f4ed5f;
$color-cards-yellow: #fbd102;

//FONTS

$font-butlers: "Permanent Marker", cursive;
// $font-primary: "Bebas Neue", cursive;
// $font-primary: "Anton", sans-serif;
$font-primary: "Fjalla One", sans-serif;
$font-secondary: "Nanum Gothic", sans-serif;

//FONTSIZE

$font-size__main: 2rem;

//FONT-COLOR
$font-color__primary: #696969;

// heading-font-sizes
$font-size-heading_large: 7rem;
$font-size-heading_med: 4rem;
$font-size-heading_small: 3rem;
$font-size-heading_supersmall: 2rem;

$font-size-heading_large--smaller: 4rem;
$font-size-heading_med--smaller: 3rem;
$font-size-heading_small--smaller: 2.3rem;
$font-size-heading_supersmall--smaller: 1.5rem;

$pizza-Margherita: "./images/pizza-margherita.jpeg";
$font-primary: "Fjalla One", sans-serif;
$font-secondary: "Open Sans Condensed", sans-serif;

// colors
$color-lightgrey: #e7e7e4;
$color-black: #292931;
$color-blue: #00ffff;

$bp-megalarge: 1735px;
$bp-superlargest: 1440px;
$bp-mediumlargest: 1245px;
$bp-largest: 1484px;
$bp-large: 1106px;
$bp-supermedium: 1060px;
$bp-medmedium: 1020px;
$bp-smallmedium: 900px;
$bp-medium: 958px;
$bp-small: 836px;
$bp-smallish: 730px;
$bp-supersmall: 640px;
$bp-medsmall: 560px;
$bp-supertiny: 320px;
$bp-mobilelarge: 425px;
$bp-mobilemed: 375px;
$bp-mobilesmall: 320px;
